#Unity Generated
UnfinishedBusiness/[Tt]emp/
UnfinishedBusiness/[Ll]ibrary/
UnfinishedBusiness/[Bb]uild/
UnfinishedBusiness/[Ee]xported[Oo]bj/
UnfinishedBusiness/[Oo]bj/
sysinfo.txt

#IDE generated
*.csproj
*.tmproj
*.pidb
*.userprefs
*.svd
*.suo
*.user
*.unityproj
*.booproj
*.swp

#GIT generated
*.orig
*.orig.meta
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.MERGED.*

#OS Generated
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
[Tt]humbs.db
._*
